.nav {
  display: none;
  margin-left: 93px;

  @include mq(tablet) {
    display: flex;
    margin-left: 0;
  }
    

    &__list {
        display: flex;
    }
    

    &__list-item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
          }
      }

    &__list-link {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -37px;
          
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);

            @include mq (tablet-only) {
              bottom: -40px;
            }

            @include mq (desktop) {
              bottom: -35px;
            }
          }

        &:hover::after {
            display: block;
            }
      }
}

.link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
  
    display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
}

.current {
        color: var(--accent-color);
      }
