.skills {
  @include mq(desktop) {
    padding-bottom: 0;
  }

  &__list {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;
      margin-bottom: -30px;
    }
  }

  &__item {
    margin-bottom: 30px;

    @include mq(mobile-only) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq(tablet) {
      width: 354px;
      margin-right: 30px;
    }

    @include mq(desktop) {
      width: 270px;
    }
  }

  &__icons {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    padding-top: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
  }
}

// &.title {
//   margin-bottom: 10px;
// }
